/* * {
    border: 1px solid black;
} */

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
}

.button{
    height: 50px;
    width: 50px;
    display: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
}

.btn-div{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.shoppingcart-icon {
    height: 100px;
    width: 100px;
}

p{
    text-align: center;
}

.product-size {
    text-align: center;
}

select {
    text-align: center;
}

input {
    text-align: center;
}
