 * {
    border: 1px solid transparent;
} 

#thanks-message {
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#box1 {
    background-color: yellow;
    height: 700px;
    padding-top: 15%;
}

#box2, #box3, #box4 {
    display: none;
    height: 700px;
}

#box2 {
    background-color: rgba(255, 255, 0, 0.61);
    padding-top: 5%;
    padding-bottom: 5%;
}
#box3 {
    background-color: rgba(255, 255, 0, 0.521);
    padding-top: 10%;
    padding-bottom: 20%;

}

#box4 {
    background-color:  rgba(255, 255, 0, 0.233);
}

header {
    height: 80px;
}

header, footer {
    background-color: skyblue;
}

.qty-choice {
    height: 10px;
    width: 100px;
}

.size-btn {
    height: 25px;
    width: 100px;
}

#shopping-icon {
    height: 50px;
    width: 50px;
}

#logo-icon{
    height: 50px;
    width: 50px;
}

